body {

  margin:25px;
  padding: 0;
  background: #f0f0f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


table {
  width:20%;
  margin-left: 0;
  margin-top:5px;
  margin-right: 5px;
  margin-bottom: 55px;
}

#table .song-list {
display: table;
border-collapse: separate;
border-spacing: 6px;
-webkit-border-horizontal-spacing: 6px;
-webkit-border-vertical-spacing: 6px;
}
tbody {
  display: table-row-group;
    vertical-align: center;
    border-color: inherit;
    padding: 10px;
}
.song-title {
  display: table-cell;
  vertical-align: inherit;
  font-family:"Segoe UI"; font-size: 18px; color:  #602060;

}

.current-time {
font-family:"Segoe UI"; font-size: 18px; color:  #602060;

}
.total-time{
font-family:"Segoe UI"; font-size: 18px; color:  #602060;

}

.song-number {
  display: table-cell;
  vertical-align: inherit;
  font-family:"Segoe UI"; font-size: 18px; color:  #602060;
  padding: 0;

}
.song-duration {
  display: table-cell;
  vertical-align: inherit;
  font-family:"Segoe UI"; font-size: 18px; color:  #602060;
  padding: 0;

}



h1 {
  font-family:fantasy; font-size: 45px; color:  #602060;
  display: block;
  margin-block-start: 0.44em;
  margin-block-end: 0.44em;


}
h2 {
  font-family:fantasy; font-size: 30px; color: #732673;
  display: block;
  margin-block-start: 0.65em;
  margin-block-end: 0.65em;


}
#buttons {

}


#previous {
  font-size:16px;

}
#play-pause {
  font-size:16px;
}
#next {
  font-size:16px;
}


.library /*section on lib page*/{
  background: #f0f0f5;
  text-align:center;

}
#album-cover-lib /*album art on librarypage*/{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding: 10px;
}

.landing {
text-align:center;
background-image: url ('../assets/images/blurred_backgrounds/music-icons-circle-.png');
background-repeat: repeat;
width: 100%;
height:100%;

}



.recordinfo /*album info on librarypage*/{
  text-align:center;
  font-family:fantasy; font-size: 18px; color:  #602060;

}


#album-cover-art /*left column album page*/{
  float:left;
  width:25%;
  height:285px;
  background-color: #f0f0f5;
  padding: 10px;
  margin-left: 0;
  margin-top:55px;
  margin-right: 100px;
  margin-bottom: 42px;
}


#album-info /*right col*/{
  background-color: #f0f0f5;
  padding: 30px;
  width:100%;

}
#container { width: 1000px;
margin: 20px auto 40px;
}
